{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}


<h1>Liste des articles {% if brouillon %} brouillons{% endif %}</h1>

{# on applique le filtre taille #}
{{ articles|taille }}


<ul> 
{% for article in articles %}

<li><a href="{{ path('vue_article', {'id':article.id }) }}">{{article.titre}}</a> {{ article.dateCreation|date('d/m/y')}}</li>

{% endfor %}
</ul>
{% endblock %}
